@{
    ViewBag.Title = "Contact";
}
<h2>@ViewBag.Title.</h2>

<img src="~/Content/Images/softwarebanner.png" class="img-responsive center-block" />

<h4><span class="glyphicon glyphicon-globe"></span><strong>Hdip in computing</strong></h4>

<address>
    ITT<br />
    Tallaght<br />
    <abbr title="Phone">P:</abbr>
    01-123 4567
</address>

<address>
    <strong>Support:</strong>   <a href="mailto:bob@ITT.com">bob@ITT.com</a><br />
    <strong>Marketing:</strong> <a href="mailto:kris@ITT.com">kris@ITT.com</a>
</address>
